@charset "ISO-8859-1";
body {
    background-color: #f0f8ff;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
	color: #00008B;
}

img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}