@charset "ISO-8859-1";
body {
    background-color: #f0f8ff;
}

h1 {
    color: blue;
    margin-left: 20px;
}

h2 {
	color: blue;
}

img {
    border: 1px solid #ddd;
    border-radius: 150%;
    padding: 5px;
    width: 150px;
}

table, td, th {
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 2px;
	padding: 2px;
}


